go 1.25.5

use (
	.
	./_generate/dependencies
	./_generate/settings
	./_generate/sigils
	./cmd/embedded/http
	./cmd/embedded/mobile
	./cmd/embedded/tiny-chat
	./cmd/embedded/tiny-http
	./cmd/ratatoskr
	./cmd/yggstack
)
